<div class="jumbotron" >
<h1> BONJOUR.
<br> Bienvenu sur Eventbrite#THP <h1>
<p style="font-size:16px"><i>Inscrivez-vous. Si votre compte est accepté, vous pourrez accéder aux événements, en créer et y participer. Puis vous déco.
</br>Si vous possédez déjà un compte : vous pouvez vous connecter.
</br>IMPOSSIBLE D'ACCÉDER aux événements SANS ÊTRE CONNECTÉ. </i></p>

</div>
